*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --sidebar-width: 20%;
}

body {
    background-color: #252525;
}

.container {
    width: 60vw;
    height: 70vh;
    background-color: #252525;
    color: antiquewhite;
    margin: auto;
    display: grid;
    grid-template-columns: var(--sidebar-width) 80%;
    clear: both;
    position: absolute;
    top: 15%;
    left: 20%;
    box-shadow: 5px 10px 20px 10px #910a8a;
}

.sidebar {
    background-color: #252525;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: antiquewhite;
}

.mainbar {
    background-color: #252525;
    color: antiquewhite;
}

.board {
    position: relative;
    margin: auto;
    color: antiquewhite;
    margin-top: 10%;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    display: none;
}

.cell {
    color: antiquewhite;
    width: 100px;
    height: 100px;
    border: 1px solid #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell:first-child,
:nth-child(2),
 :nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:last-child,
:nth-child(8),
 :nth-child(7) {
    border-bottom: none;
}

h1 {
    background-color: #252525;
    display: block;
    line-height: 2.5rem;
    color: antiquewhite;
    text-align: center;
}
span{
    color: antiquewhite;
}
a{
    color: rgb(21, 114, 221);
}

h1::before {
    color: antiquewhite;
    content: "";
    background-color: #252525;
    display: inline-block;
    position: absolute;
    left: 0;
    height: 4px;
    width: 100vw;
}

h1::after {
    color: antiquewhite;
    content: "";
    background-color: #910a8a;
    display: inline-block;
    position: absolute;
    top: 36px;
    left: 0;
    height: 4px;
    width: 100vw;
}

.newGame,
.connectBtn {
    display: block;
    width: 95%;
    margin: 15px auto;
    height: 30px;
    color: white;
    font-size: 1.3rem;
    background-color: #000000;
}

.joinLabel {
    text-align: center;
    display: block;
    width: 95%;
    margin: 15px auto;
    margin-bottom: 0px;
    height: 30px;
    color: white;
    font-size: 1.3rem;
    background-color: #000000;
}

.sidebar ul {
    list-style: none;
    color: antiquewhite;
}

.sidebar ul li {
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    height: 30px;
    font-size: 1rem;
    color: antiquewhite;
    background-color: #252525;
}

.sidebar ul li:hover {
    background-color: #000000;
}

button[type='submit'] {
    display: block;
    width: 95%;
    margin: 0 auto;
    height: 30px;
    color: white;
    font-size: 1.3rem;
    background-color: #000000;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.cell.x::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 5px;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.board.x .cell:not(.x):not(.circle):hover::after,
.cell.x::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 5px;
    background-color: #ffffff;
    transform: rotate(-45deg);
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.cell.circle::before {
    content: '';
    position: absolute;
    height: 94px;
    width: 90px;
    background-color: #ffffff;
    border-radius: 50%;
}

.board.circle .cell:not(.x):not(.circle):hover::after,
.cell.circle::after {
    content: "";
    position: absolute;
    height: 84px;
    width: 80px;
    background-color: #252525;
    border-radius: 50%;
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
    background-color: #ffffff;
}